@font-face {
    font-family: 'FunnelDisplay';
    src: url(/fonts/FunnelDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'FunnelSans';
    src: url(/fonts/FunnelSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'FunnelSansItalic';
    src: url(/fonts/FunnelSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'NotoSansMono';
    src: url(/fonts/NotoSansMono-VariableFont_wdth\,wght.ttf);
}

@keyframes slideUpFadeIn {
    from {
      transform: translateY(15px); /* Starts 30px below */
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

html {
    --foreground-color: #0d0d0d;
    --background-color: #EBEBEB;
    --button-color: #B33822;

    --secondary-color: #F6F6F6;
    --tertiary-color: #E5E9EC;

    /* use as embellishments and for type in darker areas */
    --highlight-color-1: #63A55A;
    --highlight-color-2: #C4C3FF;
    --highlight-color-3: #E9CBD1;
    --highlight-color-4: #AFCBE1;
    --borders-color: #7d7d7d;

    --sans_serif: 'FunnelSans', system-ui, 'Segoe', sans-serif;
    --display_font: 'FunnelDisplay', system-ui, 'Segoe', sans-serif;
    --contrast_mono: 'NotoSansMono', Courier, serif;

    --wrapper: 0.5rem;
    --rhythm: 1.5rem;
    --transparency-film: rgba(0, 0, 0, 0.4);
    --background-blur: blur(8px);
    --stroke-light: rgba(0, 0, 0, 0.4);
    --borders: 1px solid var(--borders-color);

    --glide-in: slideUpFadeIn 0.5s ease-out 0.1s forwards;
}

* {
    box-sizing: border-box;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
    display: block;
    align-self: center;
    justify-self: center;
}


body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    width: 90vw;
}

main {
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin-block-start: 0;
    width: 90vw;
}


h2, h3, h4, h5 {
    font-family: var(--display_font);
    font-weight: 500;
    color: var(--foreground-color);
    margin-block-start: 0;
    margin-block-end: var(--wrapper);
}

p, li, ul, summary, details, form {
    font-family: var(--sans_serif);
    line-height: 1.4;
}

h1 {
    font-size: 3rem;
    font-family: var(--display_font);
    font-weight: 500;
    color: var(--foreground-color);
    margin-block-start: 0;
    margin-block-end: var(--wrapper);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

b {
    font-weight: 500;
}


a {
    text-decoration: none;
    color: var(--foreground-color);
}

a:hover {
    text-decoration: underline;
}

picture {
    width: 100%;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-block-end: 3rem;

    gap: var(--rhythm);

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--wrapper);
        padding: 0;
        margin: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: var(--borders-color);
    }

    a:hover {
        text-decoration: underline;
        color: var(--borders-color);
    }

    form {
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto;
        width: 40vw;
        gap: var(--wrapper);
        height: fit-content;

        label {
            height: fit-content;
        }

        h4 {
            margin: 0;
        }

        .shop-all-button {
            height: 2rem;
            width: 100%;
            margin: 0;
            padding: 4px;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    width: 90vw;
    height: auto;
    margin-block-start: var(--rhythm);
    margin-block-end: var(--rhythm);
    opacity: 0;
    animation: var(--glide-in);
}

figure {
    /* height: 100%;
    width: 100%; */
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-block-start: var(--rhythm);
    margin-block-end: var(--rhythm);
    width: 90vw;
}


figure > img {
    width: 30vw;
    height: 60vh;
    object-fit: cover;
    display: flex;
}
/* 
a + div:hover {
    filter: blur(--background-blur);
} */

/* classes under here */

.mono {
    font-family: var(--contrast_mono);
}

/* menu below */




.top-menu {
    margin: 0;
    padding: 0;
    width: 90vw;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;

    li {
        display: grid;
        text-transform: uppercase;
        font-weight: 400;
        align-items: center;
    }

/* 
    don't know why these don't work
    a:active {
        color: var(--button-color);
        text-decoration: underline;
    }

    a:visited {
        color: var(--borders-color);
        text-decoration: underline;

    } */
}

.overlay-nav-ul{
    display: none;
}

#toggle-checkbox {
    display: none;
}

.hamburger {
    display: none;
}

.icons-side {
    display: flex;
    width: 300px;
    justify-content: right;
    flex-direction: row;
    gap: var(--rhythm);
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 7;
}

.text-side {
    width: 300px;   
    display: flex;
    flex-direction: row;
    gap: var(--rhythm);
    grid-column-start: 1;
}

.logo {
    grid-column-start: 3;
    grid-column-end: 6;
}

.logo-footer {
    width: 150px;
    height: auto;
    justify-self: left;

}

.border-bottom {
    border-bottom: var(--borders);
    padding-block-end: var(--wrapper);
}

.width-ninety-wrapper {
    width: 90vw;
    height: auto;
    align-self: center;
}

.links-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.breadcrumb {
    display: flex;
    justify-self: left;
    margin-block-end: 0;

    ul {
        display: flex;
        flex-direction: row;
        text-align: left;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: var(--wrapper);
    }

    li {
        font-family: var(--contrast_mono);
    }

    a {
        color: var(--borders-color);
        font-family: var(--contrast_mono);

    }
    
    a:hover {
        color: var(--foreground-color)
    }
}

 /* container meaning like the images behind the text on home page */
.container {
    /* background-image: url(graphics/home/banner_image_top.webp); */
    display: flex;
    position: relative;
    align-self: center;
    justify-self: center;
    height: fit-content;
    margin-inline-start: var(--wrapper);
    margin-inline-end: var(--wrapper);
}

/* below is new home page styling */

.hero-home-page + .second-banner {
    color: var(--foreground-color);

}

.hero-home-page {
    display: flex;
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: var(--wrapper);
    align-items: end;
    opacity: 0;
    animation: var(--glide-in);

}


.hero-text {
    /* position: flex; */
    display: flex;
    flex-direction: column;
    gap: var(--wrapper);
    /* bottom: 28vh;
    left: 2vw; */
    width: 70ch;
    background-color: transparent;
    padding: 0 0 var(--rhythm) var(--rhythm) ;

    button {
        margin: 0;
        width: 10rem;
    }

    h1, p {
        background-color: transparent;
        color: var(--background-color);
        margin: 0;
    }
    
    p {
        margin-block-end: 1rem;
        line-height: var(--rhythm);
    }
}
/* background images on index called in the media queries to change the sizing later for responsiveness and image optimization

did this because it was the way thata i decided to overlay text on images rather than having image in html

*/

.category-discoloration {
    background-image: url(../graphics/home/discoloration.jpg);
}

.category-texture {
    background-image: url(../graphics/home/textured_skin.jpg);
}

.first-banner {
    background-image: url(../graphics/home/banner_image_top.jpg);
}

.second-banner {
    background-image: url(../graphics/home/banner5.jpg);
}

.category-section {
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    gap: var(--rhythm);
}


.category-home-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: var(--wrapper);
    align-items: center;
    justify-content: center;
}

.category-text {
    /* position: flex; */
    display: flex;
    flex-direction: column;
    gap: var(--wrapper);
    padding: var(--rhythm) 1rem;
    background-color: transparent;
    text-align: center;
    align-items: center;
    background-color: var(--transparency-film);
    border-radius: var(--wrapper);

    button {
        display: flex;
        margin: 0;
        width: 10rem;
    }

    h2, p {
        background-color: transparent;
        color: var(--background-color);
        margin: 0;
    }

    p {
        width: 30ch;
    }

}

/* .discoloration-category {
    background-image: url(../graphics/home/discoloration.webp);
} */

/* under here is old home page */

.home-page-banner {
    width: 90vw;
    height: auto;
    object-fit: cover;
    /* made so that i can adjust size but container can stay for all */
}

/* text in the bottom left of the corner on top of an image */
.bottom-left-text-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    padding: 1rem;
    padding-right: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background-color: var(--transparency-film);
    border-radius: 1rem;

    h1, h3 {
        color: var(--background-color);
        background-color: transparent;
        margin: var(--wrapper);
    }
}

.bottom-left-text-container > h3 {
    opacity: 0.8;
}

/* stop of old homepage style */




.shop-all-button {
    margin: var(--wrapper);
    width: fit-content;
    font-family: var(--sans_serif);
    text-transform: uppercase;
    justify-self: center;
    justify-content: center;
    background-color: var(--button-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: var(--wrapper);
    border-color: #E5E9EC;
    border: 1px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

    a {
        color: var(--background-color);
    }
}

.shop-all-button:hover {
    background-color: var(--highlight-color-4);
    color: var(--button-color);
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.0);
    cursor: pointer;

    a {
        color: var(--foreground-color);
    }
}


.carousel-section {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    justify-content: center;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
}

.carousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    /* white-space: nowrap; */
    gap: 1rem;
    flex-wrap: nowrap;
    height: fit-content;
    width: 100%;
}

.carousel > .product-card {
    width: 100%;
    height: auto;

    a > h2 {
        font-size: 1.25rem;
        margin-block-start: 0rem;
        line-height: 1.5rem;

    }

    p {
        font-size: 0.9rem;
        margin-block-end: 0.75rem;
        background-color: var(--secondary-color);
    }

    img {
        width: 200px;
        height: 250px;
        border-radius: var(--wrapper);
    } 

    picture {
        border-radius: var(--wrapper);
    }
}

/* shopping cart */
.shopping-cart-section {
    display: flex;
    justify-content: center;

    button {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    h3 {
        margin-block-end: 0;
    }
}

.shopping-header {
    margin-block-end: 1rem;
}

.cart-text-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: var(--wrapper);
}

.shopping-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-self: baseline;
    gap: var(--wrapper);
}

.product-one-cart {
    display: flex;
    flex-direction: row;
    border: var(--borders-color);
    gap: var(--rhythm);
    padding: 1rem;
    border: var(--borders);
    border-radius: var(--wrapper);

    img {
        height: 15vh;
        width: fit-content;
    }

    picture {
        border-radius: var(--wrapper);
        height: fit-content;
        width: fit-content;
    }
}

.total-cart {
   display: flex; 
   flex-direction: column;
    align-items: end;
    margin-block-end: 2rem;
}


/* shop all page */
.shop-all {
    margin-block-start: var(--wrapper);
    margin-inline-start: var(--wrapper);
    margin-inline-end: var(--wrapper);
    margin-block-end: 4rem;
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 2rem;
    opacity: 0;
    animation: var(--glide-in);
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    background-color: var(--secondary-color);
    border-radius: var(--wrapper);
    width: 100%;
    height: auto;
    gap: 1rem;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.05);

    h2, div, p {
        background-color: var(--secondary-color);
    }

    h2 {
        font-size: var(--rhythm);
        margin-block-start: 0;
        line-height: 1.5rem;
    }
}

.product-card > .shop-all-button {
    margin: 0;
    width: 100%;
    align-items: baseline;
    justify-self: baseline;
    justify-items: baseline;
}

.product-card img {
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    align-content: center;
    justify-content: center;
    border-radius: var(--wrapper);

    margin-block-end: var(--wrapper);
}

.product-img-and-text {

    picture {
    border-radius: var(--wrapper);
    margin-block-end: var(--wrapper);
    }

}


#filter {
    font-family: sans-serif;
    height: 100%;
    width: auto;
    padding: var(--wrapper);
    border-radius: var(--wrapper);
    display: flex;
    justify-self: center;
}

.shop-all-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown {
    display: flex;
    align-self: baseline;
}



/* product pages */

.product-header {
    border-radius: 0.5rem;
    border: var(--borders);
    padding: 1rem;
    margin-block-start: var(--wrapper);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--rhythm);
    box-shadow:  2px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.images-slideshow {
    display: flex; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; /* Enables smooth snapping */
    height: 80vh; /* Makes slideshow take full viewport height */
    width: auto;
    padding: var(--wrapper);
    border: var(--borders);
    border-radius: var(--wrapper);
    background-color: var(--secondary-color);
    gap: 4px;
    overflow-y: hidden;
  }
  
  .images-slideshow picture {
    flex: 0 0 auto;
    scroll-snap-align: start; /* Snaps images when scrolling */
    border-radius: var(--wrapper);
    object-fit: cover;
    width: auto;
    height: 100%;
  }
  
  .images-slideshow img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image fills the area without distortion */
    border-radius: var(--wrapper);
  }


.product-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;

}


.one-three-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: var(--borders);
    border-radius: var(--wrapper);
    padding: var(--rhythm);
    gap: var(--rhythm);
    justify-content: center;
    align-items: center;
    box-shadow:  2px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.img-border {
    height: fit-content;
    padding: var(--wrapper);
    border: var(--borders);
    border-radius: var(--wrapper);
    padding: var(--wrapper);
    background-color: var(--secondary-color);
}

.how-to-apply {
    display: flex;
    flex-direction: column;
    gap: var(--rhythm);
    padding: var(--wrapper);
    justify-content: center;

    p {
        color: var(--foreground-color);
        filter: opacity(80%);
    }

    img {
        width: 100%;
        height: auto;
        object-fit: fill;
        background-color: var(--secondary-color);
    }

    /* div {
        background-color: var(--secondary-color);
    } */
}

.price {
    display: flex;
    flex-direction: row;
    justify-items: end;
    justify-self: start;
    padding:0 var(--wrapper) var(--wrapper) var(--wrapper);


    h1 {
        margin: 0;
        /* padding: 1rem; */
        text-align: right;
        font-weight: 400;
    }
}

.product-information {
    display: flex;
    flex-direction: column;
    gap: var(--rhythm);
    height: 100%;
    justify-content: space-between;
    /* padding: var(--wrapper) var(--wrapper) var(--wrapper) 0; */

    h1 {
        margin-block-end: var(--wrapper);
    }
}

.product-caption-on-page > h1, h2, p {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}

.product-caption-on-page > h1 {
    font-family: var(--display_font);
    margin-block-end: 0.5rem;
}

.product-caption-on-page > h2 {
    font-family: var(--contrast_mono);
    font-weight: 300;
    font-size: 1.25rem;
}

.product-caption-on-page p {
    color: var(--borders-color);
}


.product-overview-individual {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.reviews-at-top {
    width: 100%;
}

.stars {
    max-width: 200px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
    height: fit-content;
    /* padding: var(--wrapper) 0 var(--wrapper) var(--wrapper); */
}

/* for changing the colors of the stars */
.checked {
    color: var(--highlight-color-1);
}

.number_of_reviews {
    text-align: right;
    font-size: 14px;
    color: var(--borders-color);
    font-family: var(--contrast_mono);
    text-transform: uppercase;
    text-decoration: underline;

    a {
        text-decoration: underline;
        color: var(--borders-color)
    }
}

.product-blurb {
    grid-column: 1 / 2;

    p {
        font-weight: 200;
    }
}

.product-highlights-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--wrapper);
    padding:0;
    margin-block-start: 0;
    margin-block-end: 1rem;
}

/* .product-highlights-grid > ul {
    margin: 0;
    padding: 0;
} */

.product-highlights-grid > li {
    list-style:none;
    margin: 0;
    padding: 0;
}

.subscription-form {
    padding: 0.5rem;
    border: var(--borders);
    border-radius: var(--wrapper); 
}

.subscription-form input {
    margin: 0.5rem;
}

.product-information > div > .shop-all-button {
    margin: var(--wrapper) 0 0 0 ;
    width: 100%;
}

.before-after {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--secondary-color);
    border: var(--borders);
    border-radius: var(--wrapper);
    padding-inline-start: var(--wrapper);
    padding-inline-end: var(--wrapper);
    padding-block-start: var(--wrapper);
    padding-block-end: 0.25rem;
    height: fit-content;

    }
    
.beforeafter-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: var(--borders);
    padding: 1rem;
    border-radius: var(--wrapper);
    height: fit-content;
    box-shadow:  2px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }


.beforeafter-section figure {
    margin: var(--wrapper);
    background-color: var(--secondary-color);

}

.beforeafter-section figcaption {
    font-family: monospace;
    color: var(--borders-color);
    background-color: var(--secondary-color);
    padding: var(--wrapper) var(--wrapper) 0 var(--wrapper);
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-size: 1rem;
}


/* calling to center the one next to the before and after */
.clinical-proven-blurb {
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 1rem;

    h3 {
        line-height: 2rem;
    }

    ul {
        line-height: 2rem;
        padding-inline-start: 1rem;
    }

    li {
        padding: var(--wrapper);
        font-size: 1.25rem;
    }
}

/* video section */

.video-key-ingredients-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    border: var(--borders);
    border-radius: var(--wrapper);
    align-items: center;
    box-shadow:  2px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
}

.tutorial {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;
    padding: 1rem;
    border: var(--borders);
    border-radius: var(--wrapper);
    background: var(--secondary-color);
    object-fit: contain;
}

.key-ingredients-part {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-inline-start: 1rem;
    justify-content: center;


    li {
        list-style:decimal-leading-zero;
        line-height: 1.5rem;
        margin-block-end: var(--wrapper);
    }

    ul {
        margin-block-end: var(--wrapper);
        margin-block-start: var(--wrapper);
        margin-inline-start: var(--wrapper);

    }

    h3 {
        margin-block-end: var(--wrapper);
    }
}

.faq-section {
    padding: var(--rhythm);
    border: var(--borders);
    border-radius: var(--wrapper);
    background-color: var(--secondary-color);
    box-shadow:  2px 4px 4px 0px rgba(0, 0, 0, 0.15);
}



.faq-section h3 {
    background-color: var(--secondary-color);
}
    
.faq-section summary {
    /* transition: details 1s ease-in-out; */
    width: 100%;
}

.faq-section details {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
    padding: 0.75rem;
    border-radius: var(--wrapper);
    border: var(--borders);
    width: 100%;
    cursor: pointer;

    div {
        padding-top: var(--wrapper);
    }

    p {
        margin-bottom: 0;
    }
}


/* reviews at the bottom */

.review-overview {
    padding: var(--wrapper);
}

.rating {
    display: flex;
    flex-direction: row;
    gap: var(--wrapper);
    justify-content: right;
    align-items: center;
}

.stars-numbers {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    align-items: baseline;
    height: fit-content;
    justify-content: center;
    /* width: 20vw; */

    .stars {
        margin-block-end: 0;
    }
}

.number_of_reviews > p {
    margin: 0;
}

.number-of-stars > h1 {
    font-size: 4rem;
}

.no-margin {
    margin: 0;
    align-items: center;
}

.reviewer-info p {
    font-weight: 400;
}

.reviews-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.review-overview {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
}

.review-single {
    margin-block-end: var(--rhythm);
    padding: 1rem;
    border: var(--borders);
    border-radius: var(--wrapper);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--rhythm);

    .stars {
        align-items: start;
        width: fit-content;
    }
}

.review-text {
    margin-block-start: var(--wrapper);
}

.time-relevance {
    p {
        margin-block-end: 0;
        color: var(--borders-color);
        font-family: var(--contrast_mono);
        font-size: 14px;
    }
}

.review-star-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* for the footer */

.list-explore {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
}

.list-follow-us {
    display: flex;
    flex-direction: column;
    grid-column-start: 4;
}

.text-box {
    border-radius: 2px;
    border: var(--borders);
    background-color: var(--secondary-color);
    padding: var(--wrapper);
    height: 3rem;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.item-form label {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* about page */

.about-header {
    display: flex;
    flex-direction: column;
    margin-block-start: 0;

    h1 {
        font-weight: 500;
        margin-block-end: var(--rhythm);
    }
}

.our-promise {
    ul {
        list-style: none;
        display: flex;
        gap: var(--wrapper);
        flex-direction: column;
        padding:0;
        margin: 0;
    }

    li {
        border: var(--borders);
        border-radius: var(--wrapper);
        padding: var(--wrapper);
    }
}

.img-text-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--rhythm);
    margin-block-start: var(--wrapper);
}

.border-around {
    padding: var(--wrapper);
    border-radius: var(--wrapper);
    border: var(--borders);
}

.extra-padding {
    padding: var(--wrapper);
}

.about-mental-health {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 90vw;
    gap: var(--wrapper);

    p {
        width: 100%;
        text-wrap: pretty;
    }
}

.mental-health-images-about {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: var(--wrapper);
    justify-content: space-between;
}

.about-advisory {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--rhythm);
    align-items: center;
    align-content: space-between;

    p {
        margin-block-end: var(--rhythm);
    }

    .faq-section {
        padding: 1rem;
        /* margin-inline-end: var(--wrapper); */

        h4 {
            background-color: var(--secondary-color);
        }
    }
}

.three-img-in-a-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--wrapper);

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}


/* log in page */

.log-in-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 5vh;
    margin-block-end: 10vh;

    h1 {
        margin-block-end: var(--wrapper);
    }

    p {
        justify-self: center;
        margin-block-end: 2rem;
        margin-block-start: var(--wrapper);
    }

    p:first-child {
        font-size: 1.5rem;
        margin-block-start: 0;
    }

    .shop-all-button {
        display: flex;
        justify-content: center;
    }

    input {
        padding: var(--wrapper);
        border-radius: var(--wrapper);
        border: var(--borders);
        background-color: var(--secondary-color);
        width: 30vw;
    }

    button {
        width: 30vw;
    }
}

.log-in-box {
    padding: 2rem var(--wrapper);
    border: var(--borders);
    border-radius: var(--wrapper);
    border-color: var(--borders-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

.label-above-input {
    display: flex;
    flex-direction: column;
    color: var(--borders-color);
}


.underline {
    text-decoration: underline;
    color: var(--borders-color);
}

.contact-us-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--wrapper);
    margin-block-end: 5vh;


    
    input {
        width: 50vw;
        border: var(--borders);
        border-radius: var(--wrapper);
        border-color: var(--borders-color);
        font-family: var(--sans_serif);
    }
}

/* media queries */

@media (max-width: 979px) {

    /* TABLET MEDIA QUERY */

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
    
    h4 {
        font-size: 1.5rem;
        margin-block-end: 0.5rem;
    }
    
    h5 {
        font-size: 1.25rem;
    }

    p div {
        width: 100%;
        height: auto;
    }

    .logo {
        grid-column-start: 3;
        grid-column-end: 6 ;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
    }

    .top-menu {
        margin: 0;
        padding: 0;
        width: 90vw;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        align-items: center;

        li {
            display: grid;
            text-transform: uppercase;
            font-weight: 400;
            align-items: center;
        }
    }

    .text-side {
        gap: 1rem;
    }

    .icons-side {
        width: 200px;
    }
    
    .text-side {
        width: 200px;  
    }

    .category-text {
        padding: 1rem var(--wrapper);

        p {
            width: 25ch;
        }
    }

    .product-header {
        display: flex;
        flex-direction: column;
        gap: var(--wrapper);
    }

    .beforeafter-section {
        display: flex;
        flex-direction: column;
        gap: var(--wrapper);

        div {
            align-self: start;
            padding-block-end: 0;
        }
    }

    .one-three-grid {
        display: flex;
        flex-direction: column;
        padding: var(--wrapper);

        img {
            width: 50vw;
            height: auto;
            object-fit: cover;
        }
    }

    .beforeafter-section {
        display: flex;
        justify-content: left;

        img {
            width: 100%;
            height: 50vh;
            object-fit: cover;

        }
    }
    
    .clinical-proven-blurb {
        order: 1;
        padding: var(--wrapper);
    }

    .before-after {
        order: 1;
        width: 100%;
    }

    .video-key-ingredients-section {
        display: flex;
        flex-direction: column;
        
        video {
            width: 100%;
            height: auto;
        }

        div {
            align-self: center;
            padding-block-end: 0;
        }
    }

    .key-ingredients-part {
        padding: var(--wrapper);
        order: 2;

        li {
            margin-left: var(--wrapper);
            margin-block-end: var(--wrapper);
            line-height: 1.5rem;
        }
    }

    .reviews-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .list-explore {
        grid-row-start: 2;
        grid-column: 1 / 2;
    }

    .list-follow-us{
        grid-row-start: 2;
        grid-column: 3 / 4;
    }

    .logo-in-footer-div {
        grid-row-start: 4;
        grid-column-start: 1;

    }

    /* about page */

    .about-advisory {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
    }

    .faq-section details summary {
        width: 100%;
    }

    .about-mental-health {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        .extra-padding {
            order: 2;
        }
    }

    .mental-health-images-about {
        order: 0;
    }

    /* footer elements */
    .item-form {
        display: grid;
        width: 75vw;
        grid-row-start: 1;
        grid-column: 1 / 5;
    }


    .overlay-nav-ul{
        display: none;
    }

    #toggle-checkbox {
        display: none;
    }

    /* shop all page */

    .shop-all {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-inline-start: 0;
        margin-inline-end: 0;
        row-gap: var(--rhythm);
        column-gap: 1rem;
    }

    .product-card > img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        align-content: center;
    }

    /* contact us media query */

    .contact-us-body {
        gap: var(--wrapper);
        margin-block-end: var(--rhythm);
        align-items: baseline;

        input {
            width: 80vw;
        }
    }

    /* .shopping-cart-section {
        width: 9;
    } */

    .shopping-container {
        width: 80vw;
    }

    /* log in page  */
    
    .log-in-box {
        width: 50vw;
    }

    .log-in-section {
        input {
            width: 40vw;
        }

        button {
            width: 40vw;
        }
    }
    

}

@media (min-width: 320px) and (max-width: 700px) {

    html {
        justify-content: center;
        justify-self: center;
        /* margin: 0 1rem; */
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        justify-self: center;
        width: 90vw;
        margin: 0 auto;
        /* margin-inline-start: 1rem;
        margin-inline-end: 1rem; */
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.35rem;
        margin-block-end: var(--wrapper);
    }
    
    h5 {
        font-size: 1.15rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    section {
        /* width: 95vw; */
        justify-content: center;
    }

    /* zeroed out the menu so that the margins wouldn't be messed up */
    .top-menu {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .text-side {
        display: none;
    }

    .icons-side {
        gap: var(--wrapper);
        width: 10vw;
    }

    .icons-side .menu-item-4 {
        display: none;
    }

    #toggle-checkbox {
        display: none;
    }
    
    /* Overlay menu styles */
    .overlay-nav-menu {
        position: fixed;
        background: var(--background-color);
        width: 100%;
        height: 100%;
        top: -100%; /* Start hidden above the viewport */
        left: 0;
        transition: top 0.3s ease; /* Smooth slide-down transition */
        z-index: 1000; /* Ensure it’s on top of other content */
    }
    
    /* List styles */
    .overlay-nav-ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--rhythm);
        height: 100%; /* Ensure the list takes full height */
    }
    .return {
        color: var(--borders-color);
        font-family: monospace;
        text-transform: uppercase;
        font-size: 1rem;
        margin-block-start: 3rem;
    }

    /* List item styles */
    .overlay-nav-ul li {
        font-size: 2rem;
        text-align: center;
    }
    
    /* Show the overlay when the checkbox is checked */
    #toggle-checkbox:checked + .overlay-nav-menu {
        top: 0; /* Slide into view */
    }

    .shop-all {
        grid-template-columns: 1fr 1fr;
        gap: var(--wrapper);
    }

    .shop-all-header {
        flex-direction: column;
        gap: var(--wrapper);
        margin-block-end: var(--rhythm);
    }

    .product-card img {
        min-width: 140px;
        min-height: 180px;
    }

    .product-card h2 {
            font-size: 1.25rem;
        }

    .product-card p {
            font-size: 1rem;
            line-height: 1.1rem;
        }

    .carousel .product-card h2 {
            font-size: 1.25rem;
        }

    .carousel .product-card p {
            font-size: 1rem;
            line-height: 1.1rem;
    }

    /* row needed to push the hamburger and search bar into a row in mobile menu so both sides even*/
    .row {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }

    .hamburger {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 10vw;
        justify-content: left;
    }

    .logo {
        grid-column-start: 3;
        grid-column-end: 6;
    }

    .breadcrumb {
        width: 95vw;
        font-size: 0.8rem;
        text-wrap: pretty;
    }

    /* changing of home page banners and images in the background since I chose to do it as basckground images in css */
    .category-discoloration {
        background-image: url(../graphics/home/discoloration_small.jpg);
    }
    
    .category-texture {
        background-image: url(../graphics/home/textured_skin_small.jpg);
    }
    
    .first-banner {
        background-image: url(../graphics/home/banner_image_top_small.jpg);
    }
    
    .second-banner {
        background-image: url(../graphics/home/banner5_small.jpg);
    }

    .hero-text {
        padding: 1rem;
        width: 100%;
    }

    .hero-text button {
        width: 100%;
    }


    .category-section {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .category-text {
        padding: 1rem 0;    
    }
    
    .cateogry-text p {
            width: 25ch;
    }



    /* product pages under here */

    .images-slideshow {
        height: fit-content;
    }

    .images-slideshow img {
            height: 60vh;
            width: auto;
    }

    .product-header {
        width: 95vw;
    }

    .product-title {
        align-items: start;
    }

    .price {
        padding-block-start: 0;
    }


    .beforeafter-section {
        display: flex;
        justify-content: left;
        padding: var(--wrapper);
    }

    .beforeafter-section img {
        width: 100%;
        height: auto;
    }

    .before-after {
        display: flex;
        flex-direction: column;
    }

    .one-three-grid img {
            width: 100%;
            height: auto;
        }

    .one-three-grid .img-border {
        order: 2;
    }

    .video-key-ingredients-section {
        gap: var(--rhythm);
    }

    .video-key-ingredients-section video {
            padding: var(--wrapper);
    }

    .video-key-ingredients-section div {
            align-self: start;
            padding: var(--wrapper);
    }

    .faq-section {
        padding: 1rem
    }

    .reviews-heading {
        flex-direction: column;
    }

    .reviews-heading h2 {
            margin:0;
    }

    .rating {
        justify-content: left;
        padding-left: 0;
    }

    .review-single {
        display: flex;
        flex-direction: column;
    }



    /* about page */

    .img-text-header {
        display: flex;
        flex-direction: column;
    }


    .three-img-in-a-row {
        grid-template-columns: 1fr;
    }

    .who-cares-first-img {
        display: none;
    }

    .who-cares-third-img {
        display: none;
    }

    /* footer */
    .item-form {
        display: grid;
        width: 90vw;
        grid-row-start: 1;
        grid-column: 1 / 5;
    }

    .contact-us-body {
        gap: var(--wrapper);
        margin-block-end: var(--rhythm);
        margin-inline-start: 0;
        align-items: baseline;
    }

    .contact-us-body input {
            width: 90vw;
        }

    .contact-us-body button {
            width: 90vw;
    }


    /* shopping cart  */
    
    .shopping-container {
        width: 90vw;
    }

    /* log-in */
    
    .log-in-box {
        width: 90vw;
    }

    .log-in-section input {
            width: 80vw;
    }

    .log-in-section button {
            width: 80vw;
    }

    .log-in-section p {
            padding: var(--wrapper);
            text-align: center;
    }
}