@font-face {
    font-family: 'FunnelDisplay';
    src: url(/fonts/FunnelDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'FunnelSans';
    src: url(/fonts/FunnelSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'FunnelSansItalic';
    src: url(/fonts/FunnelSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'NotoSansMono';
    src: url(/fonts/NotoSansMono-VariableFont_wdth\,wght.ttf);
}

html {
    --foreground-color: #000000;
    --background-color: #EBEBEB;
    --button-color: #B33822;

    --secondary-color: #F6F6F6;
    --tertiary-color: #E5E9EC;

    /* use as embellishments and for type in darker areas */
    --highlight-color-1: #63A55A;
    --highlight-color-2: #C4C3FF;
    --highlight-color-3: #E9CBD1;
    --highlight-color-4: #AFCBE1;
    --borders-color: #7d7d7d;

    --sans_serif: 'FunnelSans', system-ui, 'Segoe', sans-serif;
    --display_font: 'FunnelDisplay', system-ui, 'Segoe', sans-serif;
    --contrast_mono: 'NotoSansMono', Courier New, serif;

    --wrapper: 0.5rem;
    --rhythm: 1.5rem;
    --transparency-film: rgba(0, 0, 0, 0.4);
    --background-blur: blur(8px);
    --stroke-light: rgba(0, 0, 0, 0.4);
    --borders: 1px solid var(--borders-color);
}

* {
    box-sizing: border-box;
    background-color: var(--background-color);
}

img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
    box-shadow: (0 4 8 #000000 0.15);
    display: block;
    align-self: center;
    justify-self: center;
}


body {
    display: flex;
    flex-direction: column;
    /* width: 80vw; */
    justify-items: center;
    justify-self: center;
    justify-content: center;
}

main {
    justify-items: center;
    justify-self: center;
    justify-content: center;
}


h1, h2, h3, h4, h5 {
    font-family: var(--display_font);
    font-weight: 500;
    color: var(--foreground-color);
    margin-block-start: 0;
    margin-block-end: 0;
}

p, li, ul, summary, details, form {
    font-family: var(--sans_serif);
    line-height: 1.4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    margin-block-end: 0.5rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

header {
    display: flex;
    width: 100vw;
    justify-self: left;
}

/* br {
    margin: var(--wrapper);
} */

section {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    width: 90vw;
    height: auto;
    margin-block-start: var(--rhythm);
    margin-block-end: var(--rhythm);
}


/* classes under here */

.mono {
    font-family: var(--contrast_mono);
}

/* moreso just a container now */
.top-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    /* flex-direction: row; */
    width: 100%;
    justify-content: center;
    justify-items: space-between;
    gap: 1rem;
    margin-block-start: 2rem;
    margin-block-end: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    /* li {
        text-transform: uppercase;
        justify-self: center;
        justify-content: center;
    } */
}

/* setting grid for the ul */
.ul-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--rhythm);
    padding: 0;
    margin: 0;
    grid-column-start: 2;
}

/* menu a little confusing, basically turned the ulgrid div into a 3 row, and placing all three li into one single grid, and the gap applies to the li spacing */

.menu-item-1 {
    display: grid;
    grid-column-start: 1;
}

.menu-item-2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
}

.menu-item-3 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
}

.menu-item-4 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
}

.menu-item-5 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
}

.menu-item-6 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 3;
}


.flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
}

.border-bottom {
    border-bottom: var(--borders);
    padding-block-end: var(--wrapper);
}

.width-ninety-wrapper {
    width: 90vw;
    height: auto;
    align-self: center;
}

.links-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

 /* container meaning like the images behind the text on home page */
.container {
    /* background-image: url(graphics/home/banner_image_top.webp); */
    display: flex;
    position: relative;
    align-self: center;
    justify-self: center;
    height: fit-content;
    margin-inline-start: var(--wrapper);
    margin-inline-end: var(--wrapper);
}

.home-page-banner {
    width: 90vw;
    height: auto;
    object-fit: cover;
    /* made so that i can adjust size but container can stay for all */
}

/* text in the bottom left of the corner on top of an image */
.bottom-left-text-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    padding: 1rem;
    padding-right: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background-color: var(--transparency-film);
    border-radius: 1rem;

    h1, h3 {
        color: var(--background-color);
        background-color: transparent;
        margin: var(--wrapper);
    }
}

.bottom-left-text-container > h3 {
    opacity: 0.8;
}

.shop-all-button {
    margin: var(--wrapper);
    width: fit-content;
    font-family: var(--sans_serif);
    text-transform: uppercase;
    justify-self: center;
    justify-content: center;
    background-color: var(--button-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border-radius: var(--wrapper);
    border-color: #E5E9EC;
    border: 1px;
    box-shadow: (0 4 8 #000000 0.15);
}

.category-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.category-img {
    width: 44vw;
}

.container > h2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    padding: 1rem;
    padding-right: 2rem;
    position: absolute;
    bottom: 17rem;
    left: 10rem;
    color: var(--background-color);
    background-color: var(--transparency-film);
    border-radius: 1rem;
}

.carousel-section {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    justify-content: center;
}

.carousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    /* white-space: nowrap; */
    gap: 1rem;
    flex-wrap: nowrap;
}

.carousel > .product-card {
    width: 100%;
    height: auto;

    a > h2 {
        font-size: 1.25rem;
        margin-block-start: 0rem;
    }

    p {
        font-size: 0.75rem;
        margin-block-end: 0.75rem;
    }

    img {
        width: 200px;
        height: 250px;
    } 
}

/* shop all page */
.shop-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-row: auto;
    gap: var(--rhythm);
    /* grid */
    /* flex-wrap: wrap;
    flex-direction: row; */
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    background-color: var(--secondary-color);
    border-radius: var(--wrapper);
}

.product-card > .shop-all-button {
    margin: 0;
    width: 100%;
    justify-content: baseline;
    justify-self: baseline;
    justify-items: baseline;
}

.product-card > img {
    width: 100%;
    height: 450px;
    object-fit:contain;
}
/* 
.dropdown {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    border-radius: var(--wrapper);
} */

#filter {
    font-family: sans-serif;
}

/* was redundant because i specified even more closely with the next statement */
/* .product-card > h2 {
    font-family: var(--sans_serif);
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    margin-block-end: 1rem;
    margin-block-start: 1rem;
} */

.product-card > a > h2 {
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    font-family: var(--sans_serif);
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    margin-block-end: 1rem;
    margin-block-start: 1rem;
}

.product-card > p {
    font-family: var(--contrast_mono);
    background-color: var(--secondary-color);
    margin-block-end: 2rem;
    margin-block-start: 0;
}

.shop-all-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* product pages */

.product-header {
    border-radius: 0.5rem;
    border: var(--borders);
    padding: 1rem;
}

.images-slideshow {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;  
    gap: var(--wrapper);
    padding: 1rem;
    border: var(--borders);
    border-radius: var(--wrapper);
    background-color: var(--secondary-color);
}

.images-slideshow > img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.product-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    /* display: grid;
    grid-template-columns: 4fr 1fr; */
}

.one-three-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: var(--borders);
    border-radius: var(--wrapper);
    padding: var(--rhythm);
    gap: var(--rhythm);
}

.img-border {
    padding: var(--wrapper);
    border: var(--borders);
    border-radius: var(--wrapper);
    padding: var(--wrapper);
    background-color: var(--secondary-color);
}

.how-to-apply {
    display: flex;
    flex-direction: column;
    gap: var(--rhythm);
    padding: var(--wrapper);
    justify-content: center;

    img {
        width: 100%;
        height: auto;
        object-fit: fill;
        background-color: var(--secondary-color);
    }

    /* div {
        background-color: var(--secondary-color);
    } */
}

.price {
    display: flex;
    flex-direction: row;
    justify-items: end;
    justify-self: center;
    padding: var(--wrapper);

    h1 {
        margin: 0;
        /* padding: 1rem; */
        text-align: right;
        font-weight: 400;
    }
}

.product-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--rhythm);
}

.product-information {
    display: flex;
    flex-direction: column;
    gap: var(--rhythm);
    /* align-content: space-between; */
    /* padding: var(--wrapper) var(--wrapper) var(--wrapper) 0; */

    h1 {
        margin-block-end: var(--wrapper);
    }
}

.product-caption-on-page > h1, h2, p {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}

.product-caption-on-page > h1 {
    font-family: var(--display_font);
    margin-block-end: 0.5rem;
}

.product-caption-on-page > h2 {
    font-family: var(--contrast_mono);
    font-weight: 300;
    font-size: 1.25rem;
}

.product-overview-individual {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.reviews-at-top {
    width: 100%;
}

.stars {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    /* padding: var(--wrapper) 0 var(--wrapper) var(--wrapper); */
}

/* for changing the colors of the stars */
.checked {
    color: var(--highlight-color-1);
}

.number_of_reviews {
    text-align: right;
    font-size: 14px;
    color: var(--borders-color);
    font-family: var(--contrast_mono);
    text-transform: uppercase;
}

.product-blurb {
    grid-column: 1 / 2;
}

.product-highlights-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--wrapper);
    padding:0;
    margin-block-start: 0;
}

/* .product-highlights-grid > ul {
    margin: 0;
    padding: 0;
} */

.product-highlights-grid > li {
    list-style:none;
    margin: 0;
    padding: 0;
}

.subscription-form {
    padding: 0.5rem;
    border: var(--borders);
    border-radius: var(--wrapper); 
}

.subscription-form input {
    margin: 0.5rem;
}

.product-information > div > .shop-all-button {
    margin: var(--wrapper) 0 0 0 ;
    width: 100%;
}

.before-after {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--secondary-color);
    border: var(--borders);
    border-radius: var(--wrapper);
    padding-inline-start: var(--wrapper);
    padding-inline-end: var(--wrapper);
    padding-block-start: var(--wrapper);
    padding-block-end: 0.25rem;

    }
    
    .beforeafter-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: var(--borders);
        padding: 1rem;
        border-radius: var(--wrapper);

        /* li {
            list-style: decimal-leading-zero;
            padding: 0;
        }

        ul {
            padding-inline-start: 1.5rem;
        } */
        }


.beforeafter-section img {
    width: 30vw;
    height: auto;
}

.beforeafter-section figure {
    margin: var(--wrapper);
    background-color: var(--secondary-color);

}

.beforeafter-section figcaption {
    font-family: monospace;
    color: var(--borders-color);
    background-color: var(--secondary-color);
    padding: var(--wrapper) var(--wrapper) 0 var(--wrapper);
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-size: 1rem;
}


/* calling to center the one next to the before and after */
.clinical-proven-blurb {
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 1rem;

    ul {
        line-height: 2rem;
        padding-inline-start: 1rem;
    }

    li {
        padding: var(--wrapper);
        font-size: 1.25rem;
    }
}

/* video section */

.video-key-ingredients-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tutorial {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;
    padding: 1rem;
    border: var(--borders);
    border-radius: var(--wrapper);
    background: var(--highlight-color-1);
    object-fit: contain;
    /* justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    align-items: center; */
}

.key-ingredients-part {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-inline-start: 1rem;
    justify-content: center;

    li {
        list-style:decimal-leading-zero;
        line-height: 2rem;
    }

    ul {
        margin-block-end: var(--wrapper);
        margin-block-start: var(--wrapper);

    }

    h3 {
        margin-block-end: var(--wrapper);
    }
}

/* getting rid of the scroll bar on the horizontal */
/* .scrolldiv::-webkit-scrollbar { 
    display: none;
} */
/* 
.scrolldiv {
    -ms-overflow-style: none;
    scrollbar-width: none;  
} */

/* faq section making bars */

.faq-section {
    padding: var(--rhythm);
    border: var(--borders);
    border-radius: var(--wrapper);
    background-color: var(--secondary-color);
}

.faq-section > summary {
    list-style: none;
    background-color: var(--secondary-color);
    transition: details 1s ease-in-out;

}


.faq-section > h3 {
    margin-block-start: 0.5rem;
    background-color: var(--secondary-color);
}

.faq-section > details {
    margin-block-end: 1rem;
    margin-block-start: 0.5rem;
    padding: 0.5rem;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    border: var(--borders);
}

/* reviews at the bottom */

.review-overview {
    padding: var(--wrapper);
}

.rating {
    display: flex;
    flex-direction: row;
    gap: var(--wrapper);
    justify-content: right;
}

.stars-numbers {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    align-items: baseline;
    /* width: 20vw; */

    .stars {
        margin-block-end: 0;
    }
}

.number_of_reviews > p {
    margin: 0;
}

.number-of-stars > h1 {
    font-size: 4rem;
}

.no-margin {
    margin: 0;
    align-items: center;
}

.reviews-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-overview {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
}

.review-single {
    margin-block-end: var(--rhythm);
    padding: 1rem;
    border: var(--borders);
    border-radius: var(--wrapper);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--rhythm);
}

.review-text {
    margin-block-start: var(--wrapper);
}

.time-relevance {

    p {
        margin-block-end: 0;
        color: var(--borders-color);
        font-family: var(--contrast_mono);
    }
}


.review-star-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .number_of_stars {
} */

/* @media screen and (width >= 1100) {
    
} */

/* make media queries for small medium large screens */ 